{% extends 'base.html' %}

{% block content %}

<div class="container">

    <br>

    {% load static %}
    <center><img src="{% static 'images/hawks.png' %}" alt="hawks" width="400" height="250"></center>

    <br>

    <!-- Year Formed -->
    <div class="center">
        <div class="card border-primary" style="max-width: 70rem;">
            {% for year in atl_info.teams %}
                <div class="card-header text-dark">Year Formed:</div>
                <p class="card-text big">{{year.intFormedYear}}</p>
            {% endfor %}
        </div>
    </div>

    <!--Team Stadium-->
    <div class="center">
        <div class="card border-primary" style="max-width: 70rem;">
            {% for team in atl_info.teams %}
            <div class="card-header text-dark">Team Stadium:</div>
            <p class="card-text big">{{ team.strStadium }}</p>
            {% endfor %}
        </div>
    </div>

    <!--Last 5 Games Played-->
    <div class="center">
        <div class="card border-primary" style="max-width: 70rem;">
            <div class="card-header text-dark">Last 5 Games Played:</div>
            <p class="card-text big">
                <h5>Next Game(s):</h5>
            </p>
        </div>
    </div>

</div>

    <!-- <div>
        <h3>General Info</h3>
        {{ atl_info }}
    </div>

    <div>
        <h3>Past Info</h3>
        {{ atl_last }}
    </div>

    <div>
        <h3>Next Info</h3>
        {{ atl_next }}
    </div> -->

{% endblock %}